/*Personal Web Page Style Sheet */
body {
  background-color: skyblue;
}
h1 {
  color: black;
  text-align: center;
  font-size: 60pt;
      }
p {
  color: red;
  text-align: center;
  font-style: italic;
  font-size: 18pt;
  font-weight: 100;
}
h2{
  color: purple;
  font-style: oblique;
  font-size: 20pt;
}
ul{
  text-align: center;
}
