/*Personal Web Page Style Sheet */
body {
  background-color: powderblue;
}
h1 {
  color: blue;
  text-align: center;
  font-size: 60pt;
      }
p {
  color: red;
  font-family: fantasy;
  font-size: 18pt;
  font-weight: 100;
}
h2{
  color: purple;
  text-align: center;
  font-style: oblique;
  font-size: 20pt;
}
ol{
  color: purple;
  text-align: center;
  font-style: oblique;2
  font-size: 18pt;
  }
li{
  color: purple;
  text-align: center;
  font-style: oblique;
  font-size: 20pt;
}
