/*Personal Web Page Style Sheet */
body {
  background-color: skyblue;
}
h1 {
  color: black;
  text-align: center;
  font-size: 60pt;
      }
p {
  color: red;
  text-align: center;
  font-style: italic;
  font-size: 18pt;
  font-weight: 100;
}
h2{
  color: purple;
  font-style: oblique;
  font-size: 20pt;
  padding-left: 25%;
}
ul{
  font-size: 18pt;
  padding-left: 25%;
}

a{
  font-size: 20pt;
  padding-left: 50%;
}
.grid-container {
    display: inline-grid;
    background-color: #C2272D;
}
.grid-item {
    padding: 20px;
    background-color: red;
    color:purple;
    border: 2px solid #000000;
    font-size: 30px;
    font-weight: bold;
}
